@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Volkhov:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
body{
    overflow-x: hidden!important;
}
.nav-link{
    font-family: 'poppins',sans-serif;
    font-size: 14px;
    color: #fff;
    position: relative;
}
.navbar-nav .nav-link.active-nav, .navbar-nav .nav-link.show{
    color: #fff;
}
.navbar.scrolled {
    background-color: #333; /* Change to the desired background color */
  }
  
.active-nav::after{
    content:'';
    border: 1px solid  #DF6951;
    width:30px;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 15px;
}
.btn-navabr{
    background-color: #DF6951;
    padding: 10px 20px;
    color: #fff;
    font-family: 'poppins',sans-serif;
    font-size:14px;
}
.dropdown-menu{
    background: rgba( 217, 217, 217 , 0.25 );
box-shadow: 0 8px 32px 0 rgba(164, 165, 187, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
font-family: 'poppins',sans-serif;
font-size: 14px;
}
.banner-section{
    background-image:url(./images/banner.png);
    height: 100vh;
    background-size: cover;
    position: relative;
}
.content{
    position: absolute;
    top: 30%;
    max-width: 650px;
   
    left: 10%;
    color: #fff;
    font-family: 'poppins',sans-serif;
}
.content h1{
    font-weight: 700;
    font-size: 60px;
}
.content h1::before{
    content: "";
    background-image: url(./images/Vector-one.png);
    background-size: contain; 
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: 0px; 
    width: 50px; 
    height: 30px;
}
.form-element{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 20px 20px;
max-width: 600px;
}
.form-element input{
    border: none;
    background-color: transparent;
    color: #fff;
    font-family:'poppins',sans-serif;
    width: 20%;
}
.form-element input::placeholder {
    color: #fff
  }
  .form-slash{
    padding-left:40px;
  }
 
  .form-element  select {
    background: transparent;
    word-wrap: normal;
    color: #fff;
    width: 20%;

    border: none;}
    .form-element button {
        background-color: #DF6951;
    padding: 10px 30px;
    color: #fff;
    border: none;
    font-family: 'poppins',sans-serif;
    font-size: 14px;
    }
.title-trend::before {
    content: "";
    background-image: url(./images/eclispe.png); 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 38%;
    top: 0px;
    width: 100px;
    height: 100px;
    z-index: -1;
    animation: leftToRight 5s ease-in-out infinite; 
}
@keyframes leftToRight{
    0%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(20px);
    }
}
.client-section{
    padding:30px 0px;
    background-color: #F7F7F7;
   
}

.owl-image{
    width: 130px!important;
}

.titles{
    text-align: center;
    padding-top: 40px;

}
.trendy-section{
    padding:30px 0px;
    position: relative;
}

.titles h5{
    font-size: 16px;
    font-weight: bold;
    color: #DF6951
}
.titles h2{
    color: #181E4B;font-family: 'Volkhov', serif;
    font-size: 44px;
}
.card-trend{
    border: none;
    position: relative;
    padding: 20px;
}
.images-trend:first-child{
    width: 100%;
}
.images-trend{
    position: relative;
}
.images-trend img{
    width: 100%;
}
.place-img{
    position: absolute;
    top: 88%;
    left: 10px;
    width: 80px!important;
}

.days{
    font-family: 'poppins',sans-serif;
    color: #7D7D7D;
    font-size: 14px;
    display: flex;
    justify-content:space-between;
    margin: 35px 0 0 0 ;
    
}
.place-title{
    display: flex;
    justify-content: space-between;
    font-family: 'poppins',sans-serif;
}
.fa-star{
    color: #FFBA0A
}
.place-title div h3{
    font-weight:bold;
}
.price{
    color:#DF6951
}

.price h3 span{
    text-decoration: line-through;
    color: #7D7D7D;
    font-size: 22px;
    font-family: 'poppins',sans-serif;

}

.desc p{
    font-size: 14px;
    font-family: 'poppins',sans-serif;

}

.more-button button{
    background:#DF6951;
    padding:14px 17px;
    border: none;
    color:#fff;
    font-family:'Poppins',sans-serif;
    font-size: 15px;
}
.location{
    color: #7D7D7D;
}
.testimonial{
    background-image:url(./images/testi-bg.png);
    /* height: 80vh; */
    background-size: cover;
    background-position: center;
    padding:50px 0px;
    display: flex;
    justify-content:center

}


.testicard{
    margin-top: 40px;
    background-color: #fff;
    border-radius:10px;
    position: relative;
    padding: 50px 20px;
    z-index: -2;
    font-family: 'poppins',sans-serif;
    text-align:center;
}
.testicard h3{
    font-size:18px
}
.testmonial-image{
position: absolute;
left:40%;
top: -40px;
}
.testmonial-image img{
    width: 100px !important;

}
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left:-40px;
    top: 40%;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color: #737373!important;
}
.owl-carousel .owl-nav button.owl-prev span{
    font-size: 30px;
    width: 55px;
    height: 54px;
    display: inline-block;
    font-weight: bold;
    color: #fff;

}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -33px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #737373!important;
    border: none; /* Remove default border */
    padding: 0; /* Remove default padding */
    color: white; /* Arrow color */
}
.owl-carousel .owl-nav button.owl-next span {
    font-size: 30px;
    width: 55px;
    height: 54px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
}
 .owl-dot span {
    display: none!important;
}
/* Customize the dot indicators */
.owl-carousel .owl-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust spacing as needed */
}

.owl-carousel .owl-dot {
    width: 40px; /* Width of the line */
    height: 2px; /* Height of the line */
    background-color: #ccc; /* Color of the line */
    margin: 0 5px; /* Adjust spacing between lines */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.owl-carousel .owl-dot.active {
    background-color: #737373; /* Color of the active line */
}
.owl-carousel .owl-dot.active{
    background-color: #DF6951!important;
}
.owl-carousel .owl-dot{
    background-color: #fafafa;
}
.quote{
    position: absolute;
    top: -10px;
    z-index: -1;
    
}
.quote h2{
    /* z-index: -1; */
    font-size: 150px;
color: rgba(0, 0, 0, 0.19);
z-index: inherit;
}
footer{
    padding:50px 0px;
    font-family: 'poppins',sans-serif;
    background-image: url(./images/Footerimg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.footer-description{
    font-size:13px
}
.footer-social{
    list-style: none;
    display: inline;
    padding:0px;
}
.footer-social li{
    display: inline;
    margin-left:8px;
}
.footer-social li .fa-brands{
    color:#DF6951;
}

.company{
    list-style: none;
    padding:0px;
}
.company li{
    margin-bottom: 10px;
}

footer input{
    background-color:#EEEEFF;
    padding: 10px;
    border:none;
    border-radius:5px
}
footer button{
    background-color:#DF6951;
    color:#fff;
    padding: 10px;
    border:none;
    border-radius:5px
}

.input-p{
    color:#181433;
    margin-top: 10px;
}
.footer-hr{
    border:2px solid #E5E5EA ;    width:auto !important;}

    .client-sec button{
        display: none!important;
    }





@media only screen and (max-width: 768px){
 
    .content {
        position: absolute;
        top: 30%;
        max-width: 650px;
        left: 0px;
    padding: 20px;}
    .content h1::before {
        content: "";
        background-image: url(./images/Vector-one.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -20px;
        left: 20px;
        width: 50px;
        height: 30px;
    }
    .title-trend::before {
        content: "";
        background-image: url(./images/eclispe.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 23%;
    }
    .content h1 {
        font-weight: 700;
        font-size: 40px;
    }
    .form-element input{
        width: 100%;
        margin-bottom:20px
    }
    .form-element select{
        width: 100%;
        margin-bottom:20px

    }
    .form-slash{
        display: none;
    }
    .owl-carousel .owl-nav button.owl-next {
        position: relative;
        right: -33px;
        top: 24px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        position: relative;
        right: -33px;
        top: 0!important;
    }
    .owl-image {
        width: 181px!important;
    }
    footer {
        
        background-position: bottom;
    }
    footer input {
        
        width: 50%;    }
}